
a{
    font-size: 14px ;
    color: black;
    
}
p{
    font-size: 15px ;
    color: black;
    

}
audio {
    position: relative;
    left: 500px;
    visibility: collapse;
}
body {
    margin: 0;
    padding: 0;
    background: url(../imag/Fondos/futbol.jpg) center top;
    background-size: cover;
}

@media screen and (min-width: 1280px) {
    .column{
      margin-left: 50px;
      margin-right: 50px;
    }
  }
